.validation-error {
  color: red;
  font-size: 0.8em;
}

.validation-error:not(.visible) {
  display: none;
}

.email-validation-error-box {
  height: 1.5em;
}

.password-validation-error-box {
  height: 2.5em;
}

.autofill {
  font-size: 0.8em;
  margin: 5px auto 0 auto;
  color: #1877f2;
}

.autofill:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

#loginError {
  margin: 5px auto 0 auto;
  color: red;
  font-size: 0.8em;
}

#loginError:not(.visible) {
  visibility: hidden;
}
