.validation-error {
  color: red;
  font-size: 0.8em;
}

.validation-error:not(.visible) {
  display: none;
}

.email-validation-error-box {
  height: 1.5em;
}

.password-validation-error-box {
  height: 2.5em;
}
