<div class="form-container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <input placeholder="Email" type="email" formControlName="email" />
    <div class="email-validation-error-box">
      <div
        [class.visible]="
          form.get('email')?.hasError('required') &&
          (form.get('email')?.dirty || form.get('email')?.touched)
        "
        class="validation-error"
      >
        *Email is required
      </div>
      <div
        [class.visible]="
          form.get('email')?.hasError('email') &&
          (form.get('email')?.dirty || form.get('email')?.touched)
        "
        class="validation-error"
      >
        *Email is invalid
      </div>
    </div>

    <input placeholder="Password" type="password" formControlName="password" />
    <div class="autofill" (click)="autofillForm()">Autofill form</div>
    <div class="password-validation-error-box">
      <div
        [class.visible]="
          form.get('password')?.hasError('required') &&
          (form.get('password')?.dirty || form.get('password')?.touched)
        "
        class="validation-error"
      >
        *Password is required
      </div>
      <div
        [class.visible]="
          form.get('password')?.hasError('minlength') &&
          (form.get('password')?.dirty || form.get('password')?.touched)
        "
        class="validation-error"
      >
        *Password must be at least 6 characters long
      </div>
      <div
        [class.visible]="
          form.get('password')?.hasError('pattern') &&
          (form.get('password')?.dirty || form.get('password')?.touched)
        "
        class="validation-error"
      >
        *Password must contain at least 1 number
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Log in</button>
    <div id="loginError" [class.visible]="loginErrorVisible">Login failed.</div>
  </form>
</div>
